body{
    /* background-color: aliceblue; */
    /* display: grid;
    grid-template-rows: max-content; */
    margin: none;
}
body h1{
    margin: 0.2rem auto;
}
hr{
    border: thin solid rgb(112, 112, 138);
    width: 100%;
}
.navig-bar{
    display: flex;
    flex-wrap:wrap-reverse;
    justify-content: space-around;
}
.logo{
    width: 10rem;
    height: 5rem;
    background-color: aqua;
}
.material-icons-outlined{
    color: blue;
}
.navig-bar ul li{
    list-style-type: none;
    margin: 0.5rem 2rem;
}
.navig-bar ul li a{
    text-decoration: none;
    color:white;
}
.navig-bar ul{
    display:flex;
    
}
.section1{
    background-color: rgba(74, 99, 99, 0.336);
    height: 100vh;
    /* background-image: url("../images/coding.jpg"); */
    background-size: 100%;
    /* color:white; */
    padding-left: 2rem;
}
.intro{
    width: 0 auto;
    justify-content:space-around;
    display: flex;
    padding: 1rem;
}
.info{
    /* background-color: antiquewhite; */
    display: inline;
    /* float: left; */
    margin: 2rem auto;
    width: 20rem;
    /* height: fit-content; */
    text-align: left;
    font-size:larger;
}
.icon img{
    height: 15rem;
    border-radius:8rem;
    /* float: right; */
}
.about{
    /* justify-content: space-between; */
    margin: 0 auto;
    text-align: center;
    align-content: left;
    width: 30rem;
}
.about p{
    font-size: larger;
    /* color: blue; */
}
.section2{
    display:grid;
    grid-template-columns: auto auto auto;
    column-gap: 2rem;
    margin: 2rem 2rem;

}
.values h2{
    text-align: center;
}
.quality{
    border: thin solid rgb(112, 112, 138);
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    padding: 0 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-style: italic;
    background-color: rgb(159, 230, 230);
    /* margin: 1rem 0.4rem; */
    /* width: 5rem; */
}
.section3{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}
.sub{
    display: flex;
    margin: 0 auto;

}
.section3 p, h4{
    display: inline-block;
}
.section3 img{
    height: 10rem;
    /* float: left; */
}
.project1{
    display: flex;
    flex-direction: column;
}
.proj{
    display: flex;
    flex-direction: column;
    /* grid-template-columns: auto auto; */
    width: 20rem;
    /* justify-content: space-between; */
    border: solid thin grey;
    border-radius: 2rem;
    height: 25rem;
    background-color: rgba(87, 240, 240, 0.33);
}
.project{
    margin: 1rem 2rem;
}
.proj img, p{
    padding: 1rem;
}
.proj p{

}
.contact{
    height: 40vh;
    background-color: rgba(74, 99, 99, 0.336)
}
form{
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: 0 auto;
    padding: 2rem;
    
}
input{
    margin: 0.5rem 0rem;
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color:darkgrey;
    height: 2rem;
    padding-top: 0.5rem;
}
.send{
    margin: 0 auto;
}