body{
    /* background-color: aliceblue; */
    /* display: grid;
    grid-template-rows: max-content; */
}
body h1{
    margin: 0.2rem auto;
}
hr{
    border: thin solid rgb(112, 112, 138);
    width: 100%;
}
.navig-bar{
    display: flex;
    flex-wrap:wrap-reverse;
    justify-content: space-around;
}
.logo{
    width: 10rem;
    height: 5rem;
    background-color: aqua;
}
.material-icons-outlined{
    color: blue;
}
.navig-bar ul li{
    list-style-type: none;
    margin: 0.5rem 2rem;
}
.navig-bar ul li a{
    text-decoration: none;
}
.navig-bar ul{
    display:flex;
    
}
.section1{
    background-color: rgba(125, 126, 126, 15%);
    height: 30rem;
}
.intro{
    width: 0 auto;
    justify-content:space-around;
    display: flex;
    padding: 1rem;
}
.info{
    background-color: antiquewhite;
    display: inline;
    /* float: left; */
    margin: 2rem 4rem;
    width: 20rem;
    height: fit-content;
    text-align: center;
}
.icon img{
    height: 15rem;
    border-radius:8rem;
    /* float: right; */
}
.about{
    /* justify-content: space-between; */
    margin: 0 auto;
    text-align: center;
    align-content: left;
    width: 30rem;
}
.about p{
    font-size: larger;
    /* color: blue; */
}