body{
    margin: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-shadow: black 2px;
}
body h1{
    margin: 0.2rem auto;
}
hr{
    border: 0.1px solid rgb(161, 161, 207,);
    width: 100%;
}
.navig-bar{
    display: flex;
    justify-content: space-around;
}
.logo{
    width: 10rem;
    height: 5rem;
    color: rgb(53, 53, 131);
}
.logo a{
    text-decoration: none;
    color: rgb(26, 26, 179);
}
/* .material-icons-outlined{
    color: blue;
} */
.navig-bar ul li{
    list-style-type: none;
    margin: 0.5rem 2rem;
}
.navig-bar ul li a{
    text-decoration: none;
    color:rgb(26, 26, 179);
    font-size: larger;
}
.navig-bar ul{
    display:flex;
    
}
.section1{
    background-color: rgba(74, 99, 99, 0.1);
    height: 100vh;
    /* background-image: url("../images/web.jpg"); */
    background-size: 100%;
    /* color:white; */
    padding-left: 2rem;
}
.intro{
    width: 0 auto;
    justify-content:space-around;
    display: flex;
    padding: 1rem;
}
.info{
    /* background-color: antiquewhite; */
    display: inline;
    /* float: left; */
    margin: 2rem auto;
    width: 20rem;
    /* height: fit-content; */
    text-align: left;
    font-size:larger;
}
.icon img{
    height: 15rem;
    border-radius:8rem;
    /* float: right; */
}
.clause{
    /* justify-content: space-between; */
    margin: 0 auto;
    text-align: center;
    align-content: left;
    width: 30rem;
}
.clause p{
    font-size: larger;
    /* color: blue; */
}
.values{
    background-image: url("../images/proj.jpg");
    background-size: 50%;
    height: 50vh;
}
.section2{
    display:grid;
    grid-template-columns: auto auto auto;
    column-gap: 2rem;
    margin: 2rem 2rem;
}
.values h2{
    text-align: center;
    font-size: xx-large;
    color: rgb(53, 53, 131);
    background-color: aquamarine;
    margin: 0 auto;
    width: max-content;
    padding: 0rem 0.4rem;
    border-radius: 0.2rem;
}

.quality{
    border: thin solid rgb(112, 112, 138);
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    border-top-right-radius: 0.6rem;
    padding: 0 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-style: italic;
    background-color: rgb(159, 230, 230);
    height: 15rem;
    /* margin: 1rem 0.4rem; */
    /* width: 5rem; */
}
.quality h3{
    text-align: center;
    margin: 1rem auto;
}
.quality p{
    margin: 0.1rem auto;
}
.about{
    height: 80vh;
    padding: 1rem 2rem;
}
.about hr{
    border: thick solid grey;
    width: 20%;
    margin: 0rem auto 1rem;
}
.my-story{
    display: flex;
    font-size: xx-large;
    margin: 0 auto;
}
.my-story p{
    padding: 0rem 4rem;
}
.about h2{
    text-align: center;
    font-size: xx-large;
}
.about img{
    height: 30rem;
}

.section3{
    display: flex;
    flex-direction: column;
    background-color: rgb(223, 241, 234);
    /* flex-wrap: wrap; */
}
.section3 h2{
    text-align: center;
    font-size: xx-large;
}
.sub{
    display: flex;
    margin: 0 auto;
}
.section3 p, h4{
    display: inline-block;
}
.section3 h4{
    font-size: larger;
    text-align: center;
}
.section3 img{
    height: 12rem;
    /* float: left; */
}
.section3 a{
    text-decoration: none;
    color: rgb(53, 53, 131);
}
.project1{
    display: flex;
    flex-direction: column;
}
.proj{
    display: flex;
    padding: 0.2rem 0.4rem;
    font-size: larger;
    /* flex-direction: column; */
    /* grid-template-columns: auto auto; */
    width: fit-content;
    /* justify-content: space-between; */
    border: none;
    border-radius: 2rem;
    height: 15rem;
    background-color: rgba(87, 240, 240, 0.33);
}
.project{
    margin: 1rem 2rem;
}
.proj img, p{
    padding: 1rem;
}
.contact{
    height: 40vh;
    background-color: rgba(74, 99, 99, 0.336)
}
form{
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: 0 auto;
    padding: 2rem;
    
}
input{
    margin: 0.5rem 0rem;
    height: 1.2rem;
}
#footer{
    display: flex;
    justify-content: space-around;
    background-color:rgb(238, 235, 235);
    height: 2rem;
    padding-top: 0.5rem;
}
.send{
    margin: 0 auto;
}
button{
    background-color: rgb(7, 7, 163);
    color: white;
}